<!DOCTYPE html>
<html>
<head>
  <title>After The Fest | Watch Independent Films Even After the Festival is Over</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!-- jQuery UI -->
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <!-- jQuery UI CSS -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <!-- Ensure propore rendering and touch zooming -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body data-no-turbolink>
  <div class="container">
    <%= render "layouts/nav" %>
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
